{% extends 'banotse.html' %}
{% load static %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">
    {% if theme %}
        <link href="{% static '/css/night_theme.css' %}" rel="stylesheet">
    {% else %}
        <link href="{% static '/css/light_theme.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}
{% block links %}
            <div id="block-links">
                     <div class="links" id="home">Posts</div>
                    <!--<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" style="font-size: 45px;">+</span></a>-->
                    <div class="links" id="gallery">Gallery</div>
                     <div class="links" id="goals">ToDo</div>
                    <!--{{ user.username }}-->
            </div>
{% endblock %}

{% block button-up-add %}
    <a href="{% url 'post_new' %}" class="button" id="button1"></a>
    <button class="button" id="button2" onclick="Up()"></button>
    {% endblock %}
{% block image %}
    <div id="close-image" onclick="Close()">✕</div>
    <div class="view_image"></div>
{% endblock %}