{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/size.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Ruthie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="block">
        <div class="p">your memories</div>
        <div class="p2">
            <a href="{% provider_login_url 'google' %}">Login</a>
        <!--<div id="signup"><a href="SignUp.html">Sign Up</a></div>-->
        </div>
    </div>
</body>
</html>