body{
    /*background-color: #fff;*/
    background-color: #f3dfe842;
}
.header, #menu, .post {
    /*background-color:white;*/
    background-color: #ffffffb3;
}
.logo {
    color:#5600ff59;
}
.links{
    color: #5600ffb5;
}
.links:hover {
    color: #5600ffb5;
}
#home { border-color: #5600ffb5;}
#gallery { border-color: #ffffffb3;}
#goals { border-color: #ffffffb3;}
.text, .note{
    color:#3f464c;
}
.data{
    color: #3735889c;
}
.border-note{
    border-color: red rgba(170, 50, 220, .6) green;
}